body {
  margin: 0;
  height: 1080px;
  background-color: rgb(255, 136, 0);
  background-image: url(https://www.tokkoro.com/picsup/388081-joker-theme-background-images.jpg)
  }

  // Temp
  * { background-color: rgba(255,0,0,.2); }
  * * { background-color: rgba(0,255,0,.2); }
  * * * { background-color: rgba(0,0,255,.2); }
  * * * * { background-color: rgba(255,0,255,.2); }
  * * * * * { background-color: rgba(0,255,255,.2); }
  * * * * * * { background-color: rgba(255,255,0,.2); }
  * * * * * * * { background-color: rgba(255,0,0,.2); }
  * * * * * * * * { background-color: rgba(0,255,0,.2); }
  * * * * * * * * * { background-color: rgba(0,0,255,.2); }

  // Theme
  $overlay-bgc: rgba(27, 31, 40, 0.83);
  $seekbar-played: #fad701;
  $seekbar-bgc: rgba(27, 31, 40,.5);
  $control-color:#fff;
  $primary-color:$seekbar-played;

  // Metrics
  $seekbar-height: 10px;

  // Helpers
  @mixin abs-fit {
    position: absolute;
    left: 0;
    top:0;
    right: 0;
    bottom: 0;
  }

  @function calculateRem($size) {
    $remSize: $size / 16px;
  //Default font size on html element is 100%, equivalent to 16px;
    @return #{$remSize}rem;
  }

  @mixin v-center {
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  // Presentional Components
  @mixin circle {
    content: ' ';
    width: 15px;
    height: 15px;
    background-color: $primary-color;
    transform: rotateZ(45deg) translateY(-70%);
    display: inline-block;
    position: absolute;
    right: 0;
    top:50%;
    border-radius: 1.9px;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.5);
  }

  @mixin live-icon {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    display: inline-block;
    background-color: rgba(250,215,1,0.36);
    position: relative;
      &::after {
      content: ' ';
      width: 10px;
      height: 10px;
      background-color: $primary-color;
      @include v-center();
      border-radius: 100%;
      left: 10px;
    }
  }

  @mixin tooltip {
    position: absolute;
    right: -37px;
    bottom: 30px;
    color: #fff;
    font-size: 1.4em;
    font-size: 30px;
    line-height: 1.5;
    width: 65px;
    height: 45px;
    text-align: left;
    padding: 0 .2em;
  }

  // Main Style
  .player-container {
    position: relative;
    width: 100%;
    height: 100%;
    .overlay{
      @include abs-fit();
      background-color: $overlay-bgc;
      .top {
        height: calculateRem(880px);
      }
      .bottom {
        height:calculateRem(200px);
      }
      .loading-spinner {
        @include abs-fit();
        display: none;
        }
    }

  .controlbar {
    width: 100%;
    height: 100%;
    font-size: 0;
    .control,.middle-earth {
      display: inline-block;
      height: 100%;
      width: 10%;
      // margin: .3em;
      font-size: 16px;
    }
    .control {
        .play-btn {
          height: 100%;
        }
    }
    .middle-earth {
      width: 80%;
    }

    .middle-earth {
      .progress-control {
        width: 100%;
        height: 100%;
        position: relative;
        .progress-container {
          background-color: $seekbar-bgc;
          width: 100%;
          height: $seekbar-height;
          position: absolute;
          top: 50%;
          -ms-transform: translateY(-50%);
          transform: translateY(-50%);
        .loaded {
          height: 100%;
          width: 46%;
          max-width: 100%;
          min-width: 0;
          position: relative;
          transition: .4s ease;
          background-color: $primary-color;
          &::after {
            @include circle;
          }
          .tooltip {
            @include tooltip();
          }
        }
        }

      }
    }

    .right{
      position: relative;
      > span {
        @include v-center;
        width: 100%;
        text-align: center;
        white-space: nowrap;
        > span {
          display: inline-block;
          vertical-align: middle;
        }
      }
      .icon {
        @include live-icon;
      }
      .text {
        text-align: left;
        font-size: 1.6em;
        padding-right: 1.5em;
        padding-left: .5em;
        color: $primary-color;
      }
    } 

  }

  

  }

