body {
  margin: 0;
  height: 1080px;
  background-color: rgb(255, 136, 0);
  background-image: url(https://www.tokkoro.com/picsup/388081-joker-theme-background-images.jpg)
  }

* { background-color: rgba(255,0,0,.2); }
* * { background-color: rgba(0,255,0,.2); }
* * * { background-color: rgba(0,0,255,.2); }
* * * * { background-color: rgba(255,0,255,.2); }
* * * * * { background-color: rgba(0,255,255,.2); }
* * * * * * { background-color: rgba(255,255,0,.2); }
* * * * * * * { background-color: rgba(255,0,0,.2); }
* * * * * * * * { background-color: rgba(0,255,0,.2); }
* * * * * * * * * { background-color: rgba(0,0,255,.2); }


  @mixin abs-fit {
    position: absolute;
    left: 0;
    top:0;
    right: 0;
    bottom: 0;
  }

  @function calculateRem($size) {
    $remSize: $size / 16px;
  //Default font size on html element is 100%, equivalent to 16px;
    @return #{$remSize}rem;
  }

  $overlay-bgc: rgba(27, 31, 40, 0.83);
  $seekbar-played: #fad701;
  $seekbar-bgc: rgba(27, 31, 40,.5);
  $control-color:#fff;

  .player-container {
    position: relative;
    width: 100%;
    height: 100%;
    .overlay{
      @include abs-fit();
      .top {
        height: calculateRem(880px);
      }
      .bottom {
        height:calculateRem(200px);
      }
      .loading-spinner {
        @include abs-fit();
        }
    }

  .controlbar {
    width: 100%;
    height: 100%;
    font-size: 0;
    .control,.middle-earth {
      display: inline-block;
      height: 100%;
      width: 10%;
      // margin: .3em;
      font-size: 16px;
    }
    .control {

    }
    .middle-earth {
      width: 80%;
    }

  }


  }

